version: "3" # specify docker-compose version

# Define the services/containers to be run
services:
  client:
    container_name: client
    build: ./frontend
    ports:
      - "4200:80"
  server: # name of the first service
    container_name: server
    build: ./backend # specify the directory of the Dockerfile
    ports:
      - "8080:8080"
    links:
      - database
    depends_on:
      - database
  mongo: # name of the third service
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  mongo-express:
    container_name: mongo-express
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
volumes:
  mongo-data:
    driver: local

