<div *ngIf="username" class="row" style="margin-top:40px; background-color:#eff0f2;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
  <!-- <div class="col-sm-12" style="text-align:center;">
    Register
  </div> -->

  <div class="col-sm-12">
      <div class="jumbotron">
          <h1 class="display-4">Hello, {{username}}!</h1>
          <p class="lead">You have successfully logged in to our system.</p>
          <hr class="my-4">
          <p>Subscribe to our topics below to get real time updates</p>
          <p class="lead text-align-center" style="color:white;" >
            <button type="button" class="btn btn-primary m-5" (click) = "subscribeToTopic('IPhoneProducts')" >IPhone</button>
            <button type="button" class="btn btn-primary m-5" (click) = "subscribeToTopic('MacBookProducts')" >Mac Book</button>
            <button type="button" class="btn btn-primary m-5" (click) = "subscribeToTopic('MysteryBooks')">Mystery Books</button>
            <button type="button" class="btn btn-primary m-5" (click) = "subscribeToTopic('RomanticNovels')">RomanticNovels</button>
            <button type="button" class="btn btn-primary m-5" (click) = "subscribeToTopic('Moisturizers')">Moisturizers</button>
            <button type="button" class="btn btn-primary m-5" (click) = "subscribeToTopic('Shampoos')">Shampoos</button>
          </p>
          <p class="lead text-align-center" style="color:white;" >
            <button type="button" class="btn btn-info m-5" (click) = "subscribeToTopic('IPhoneProducts')" >Poll</button>
          </p>
        </div>
  </div>
  <div *ngIf="broker1_result?.IPhoneProducts?.length > 0">
    <h3>IPhone Products</h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of broker1_result?.IPhoneProducts">
          <td>{{product.title}}</td>
          <td><a href="{{product.full_link}}" >{{product.full_link}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="broker1_result?.MacBookProducts?.length > 0">
    <h3>MacBook Products</h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of broker1_result?.MacBookProducts">
          <td>{{product.title}}</td>
          <td><a href="{{product.full_link}}" >{{product.full_link}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="broker2_result?.MysteryBooks?.length > 0">
    <h3>Mystery Books</h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of broker2_result?.MysteryBooks">
          <td>{{product.title}}</td>
          <td><a href="{{product.full_link}}" >{{product.full_link}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="broker2_result?.RomanticNovels?.length > 0">
    <h3>Mystery Book Products</h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of broker2_result?.RomanticNovels">
          <td>{{product.title}}</td>
          <td><a href="{{product.full_link}}" >{{product.full_link}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="broker3_result?.Moisturizers?.length > 0">
    <h3>Mystery Book Products</h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of broker3_result?.Moisturizers">
          <td>{{product.title}}</td>
          <td><a href="{{product.full_link}}" >{{product.full_link}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="broker3_result?.Shampoos?.length > 0">
    <h3>Mystery Book Products</h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of broker3_result?.Shampoos">
          <td>{{product.title}}</td>
          <td><a href="{{product.full_link}}" >{{product.full_link}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>